@font-face {
  font-family: 'Geomanist';
  font-display: swap;
  src: url('./Geomanist-Regular.ttf');
}

@font-face {
  font-family: 'Geomanist';
  font-display: swap;
  font-weight: 100;
  src: url('./Geomanist-Thin.ttf');
}

@font-face {
  font-family: 'Geomanist';
  font-display: swap;
  font-weight: 200;
  src: url('./Geomanist-ExtraLight.ttf');
}

@font-face {
  font-family: 'Geomanist';
  font-display: swap;
  font-weight: 300;
  src: url('./Geomanist-Light.ttf');
}

@font-face {
  font-family: 'Geomanist';
  font-display: swap;
  font-weight: 600;
  src: url('./Geomanist-Medium.ttf');
}

@font-face {
  font-family: 'Geomanist';
  font-display: swap;
  font-weight: 700;
  src: url('./Geomanist-Bold.ttf');
}

@font-face {
  font-family: 'Geomanist';
  font-display: swap;
  font-weight: 800;
  src: url('./Geomanist-Black.ttf');
}

@font-face {
  font-family: 'Geomanist';
  font-display: swap;
  font-weight: 900;
  src: url('./Geomanist-Ultra.ttf');
}

@font-face {
  font-family: 'Geomanist Book';
  font-display: swap;
  src: url('./Geomanist-Book.ttf');
}