
.page-pokemon-lists {
  width: 100%;
  height: 100%;
  padding: 30px;

  @media (max-width: 420px) {
    padding: 8px;
  }

  .view-actions {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 32px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .separator {
      width: 16px;
    }
  }
}